<div class="footer">
  <span class="block">&lt;/&gt; Copyright &copy; :p_ᴢʜᴀɴɢ (ᴅɪsʙʙ.ᴄᴏᴍ) 2019-2024</span>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.bootcss.com/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
$(document).ready(function() {
    $("p img").each(function() {
        var strA = "<a data-fancybox='images'  style='text-decoration: none;'  href='" + this.src + "'></a>";
        $(this).wrapAll(strA);
    });
});
$('[data-fancybox="gallery"]').fancybox({
	openEffect : 'elastic',
	closeEffect : 'elastic',
});
</script>
